@media (min-width: 320px) and (max-width: 425px) {
  .catalog__inner,
  .gift__inner,
  .goods__inner,
  .bonus__inner,
  .contact__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog__item.item__grid,
  .gift__item.item__grid,
  .goods__item.item__grid {
    grid-column: span 1;
  }

  .footer__menu ul {
    font-size: 0.6em;
    display: block;

    li + li {
      margin-left: 0;
    }
  }
  .calendar__image img {
    display: none;
  }

  .calendar__text {
    width: 100%;
    padding-left: 0;
  }

  .news__items {
    margin-bottom: 3em;
  }

  .news__item__left h3 {
    margin-bottom: 1.5em;
  }

  .menu {
    display: none;
  }

  .news__item article {
    flex-direction: column;
  }

  h2 {
    font-size: 2em;
  }

  .main__header__link {
    flex-direction: column;
  }

  .bonus__item.item__grid {
    grid-column: span 1;
  }

  .bonus__item h2 {
    font-size: 2em;
  }

  .bonus__item--blue h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
  }

  .slick {
    padding: 2em;
  }

  .slider__title {
    font-size: 1.5em;
  }

  .header {
    display: none;
  }

  .btn__blue {
    font-size: 0.8em;
    padding: 0.5em 1em;
  }

  .mobile__logo img {
    height: 2em;
  }

  .calendar__text h2 {
    font-size: 2em;
  }

  .calendar__text p {
    font-size: 1em;
  }

  .news__item {
    margin-left: 0;
  }

  .contact__item {
    padding: 3em 2em;

    span {
      font-size: 2em;
    }

    .main__link span {
      font-size: 0.8em;
    }

    .contact__show {
      font-size: 0.8em;
    }
  }

  .contact__address,
  .contact__email {
    span {
      font-size: 1em;
    }
  }

  .footer__menu {
    padding: 1.4em 2.4em;

    ul li + li {
      margin-top: 0.5em;
    }
  }

  .footer__bottom {
    padding: 1.4em 2.4em;

    .footer__menu__bottom {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      text-align: center;
    }
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .catalog__inner,
  .gift__inner,
  .goods__inner,
  .bonus__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .catalog__item.item__grid,
  .gift__item.item__grid,
  .goods__item.item__grid,
  .bonus__item.item__grid {
    grid-column: span 1;
  }

  .contact__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__menu ul {
    font-size: 0.6em;
  }

  .calendar__image img {
    display: none;
  }

  .calendar__text {
    width: 100%;
    padding-left: 0;
  }

  .news__items {
    margin-bottom: 5em;
  }

  .news__item__left h3 {
    margin-bottom: 1.5em;
  }

  .goods__cart {
    bottom: 0.5em;
    right: 1em;
  }

  .goods__purchase {
    bottom: 15px;
    right: 23px;
  }

  .span__add__cart {
    bottom: 55px;
    right: 16px;
  }

  .menu {
    display: none;
  }

  .slider__title {
    font-size: 2em;
  }

  .slick {
    padding: 5em;
  }

  .header {
    display: none;
  }

  .footer__menu {
    ul {
      flex-wrap: wrap;
    }
  }

  .footer__menu__bottom {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }

  .main__link__wrapper--bonus__wrap {
    margin-top: 1em;
  }

  .main__header__link {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .catalog__inner,
  .gift__inner,
  .goods__inner {
    grid-template-columns: repeat(3, 1fr);
  }

  .bonus__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    display: none;
  }

  .slick {
    padding-left: 8em;
  }

  .calendar__text h2 {
    font-size: 1.33em;
  }

  .footer__menu ul {
    font-size: 0.8em;
  }

  .menu {
    display: flex;
    margin-left: 13em;

    a {
      font-size: 1em;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .menu {
    display: flex;
    margin-left: 8em;
    flex-wrap: wrap;

    li {
      font-size: 1em;
    }
  }

  .menu__sign {
    a {
      font-size: 1em;
    }
  }

  .search__inner input {
    font-size: 1.09em;
  }

  .mobile__header {
    display: none;
  }
}

@media (min-width: 1601px) {
  .menu {
    display: flex;
    margin-left: 13em;
  }

  .menu__sign {
    a {
      font-size: 1.2em;
    }
  }

  .mobile__header {
    display: none;
  }
}
