@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'mobile';
@import 'slick';
@import 'slick-theme';

$colorWhite: #fff;
$colorBlack: #000;
$colorBlue: #1457ea;
$colorDarkBlue: #2a3347;
$paddingFour: 0 2.6em;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'Rubik', sans-serif;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  outline: none;
}

.main__link__wrapper {
  display: block;
  text-align: center;
  margin-top: 6.33em;
  font-size: 1.06em;

  &--bonus__wrap {
    margin-top: 3em;
    text-align: left;
  }
}

.main__link {
  vertical-align: middle;

  span {
    padding-right: 1em;
  }
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.btn__blue {
  background-color: $colorBlue;
  color: $colorWhite;
  font-size: 1.06em;
  padding: 0.8em 1.46em;
  border-radius: 1.33em;
  transition: 0.2s linear;

  &:hover {
    background-color: $colorDarkBlue;
  }
}

.main__header {
  position: relative;
  padding-top: 13.66em;
  padding-bottom: 5.33em;
}

h2 {
  font-size: 4em;
  font-weight: 100;
}

.main__title {
  position: absolute;
  font-size: 15vw;
  color: rgba(42, 51, 71, 0.02);
  bottom: 0;
  z-index: -1;
  margin-left: 0.2em;
}

.section__header {
  position: relative;
  background: url('../img/banner.webp') no-repeat;
  max-height: 750px;
  padding: $paddingFour;

  .header__inner {
    position: relative;
    z-index: 2;
  }
}

.section__header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(12, 26, 52, 0.6);
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 1.8em;
}

.header__middle_area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: $colorWhite;
    transition: 0.2s linear;

    &:hover {
      border-bottom: 1px solid $colorWhite;
    }
  }
}

.menu {
  display: flex;
  margin-left: 13em;

  li {
    list-style-type: none;
    font-size: 1.2em;
    color: $colorWhite;
  }
}

.menu__link {
  & + li {
    margin-left: 3em;
  }

  img {
    margin-right: 0.6em;
  }
}

.header__right {
  display: flex;

  .search__inner {
    width: 10em;
  }

  a {
    &:hover {
      border-bottom: none;
    }
  }
}

.header__icon {
  img {
    margin-right: 2.6em;
  }
}

.search__inner {
  display: flex;
  align-items: center;

  img {
    margin-right: 0.6em;
  }

  input {
    border: none;
    background: none;
    outline: none;
    font-size: 1.09em;
    max-width: 100%;
    transition: 0.2s linear;
    padding: 0 0.5em;
    color: $colorWhite;
    width: 100%;
    margin-right: 1em;

    &::placeholder {
      color: $colorWhite;
    }

    &:focus {
      background-color: $colorWhite;
      color: $colorDarkBlue;
      border-radius: 25px;

      &::placeholder {
        color: $colorDarkBlue;
      }
    }
  }
}

.menu__sign {
  a {
    color: $colorWhite;
    font-size: 1.2em;
  }

  img {
    height: 1.2em;
    margin-left: 1em;
  }
}

.mobile__header__form {
  margin-top: 1em;
  display: flex;
  align-items: center;

  input {
    border: 1px solid $colorDarkBlue;
    border-radius: 10px;
    color: $colorDarkBlue;
    padding-left: 1.3em;
    margin-right: 0;

    &::placeholder {
      color: $colorDarkBlue;
      font-size: 0.8em;
    }
  }

  input[type='text'] {
    background: url(../img/loupe.svg) no-repeat 3% 50%;
    background-size: 0.6em;
  }
}

.slick {
  padding-top: 13em;
  padding-bottom: 11.8em;
  padding-left: 16.4em;
  color: $colorWhite;
}

.slider__title {
  font-size: 3.1em;
}

.slider__desc {
  font-size: 1.05em;
  font-weight: 300;
  line-height: 2.13em;
  max-width: 39em;
  margin: 1.5em 0;
}

//  Catalog

.catalog {
  padding: $paddingFour;
}

.catalog__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.33em;
}

.catalog__item {
  background-color: $colorWhite;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  font-size: 1.33333em;
  color: $colorDarkBlue;
  max-height: 15em;
  text-align: center;

  &.item__grid {
    grid-column: span 2;
  }

  img {
    max-width: 100%;
    margin-bottom: 1.33333em;
  }

  span {
    max-width: 14em;
    height: 3em;
  }
}

// Gift

.gift {
  padding: $paddingFour;
}

.gift__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.33em;
}

.gift__item {
  background: url(../img/giftBg.webp), rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  font-size: 1.33333em;
  color: $colorDarkBlue;
  max-height: 15em;
  text-align: center;

  &.item__grid {
    grid-column: span 2;
  }

  img {
    max-width: 12.33333em;
    max-height: 11em;
    margin-bottom: 1.33333em;
  }

  span {
    max-width: 18em;
    height: 3em;
  }
}

.catalog__item,
.gift__item,
.goods__item {
  transition: 0.2s linear;
  &:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

// Bonus

.bonus {
  padding: $paddingFour;
  margin-top: 7.33em;
}

.bonus__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.33em;
}

.bonus__item {
  background: url(../img/giftBg.webp), rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.5em 0;
  font-size: 1.33333em;
  color: $colorDarkBlue;
  max-height: 15em;
  padding-left: 3em;

  &:nth-child(1) {
    a {
      &:hover {
        border-bottom: 1px solid $colorDarkBlue;
      }
    }
  }

  a {
    &:hover {
      border-bottom: 1px solid $colorWhite;
    }
  }

  span {
    padding-right: 0;
  }

  .main__link__wrapper {
    img {
      margin-left: 0.9em;
    }
  }

  &.item__grid {
    grid-column: span 2;
  }

  h2 {
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  span {
    color: #6e7179;
    font-size: 0.7em;
  }

  &--blue {
    background: url(../img/giftBg.webp), #0d1a37;
    color: #fff;

    h2 {
      margin-top: 2.5em;
      margin-bottom: 0;
      font-size: 2em;
    }

    span {
      color: $colorWhite;
    }
  }
}

// Goods

.goods {
  padding: $paddingFour;
}

.main__header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main__link__wrapper {
    margin-top: 0;
  }
}

.goods__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8em;
}

.goods__items {
  position: relative;
  height: 33.33em;
  background: rgba(255, 255, 255, 1);
  padding: 1.5em;
}

.goods__image {
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.06em;
  color: $colorDarkBlue;
  text-align: center;
  height: 100%;

  img {
    max-width: 18em;
    max-height: 16.66em;
    margin-bottom: 1.8em;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.goods__new {
  position: absolute;
  top: 2.5em;
  right: 1em;
  background-color: $colorDarkBlue;
  color: $colorWhite;
  padding: 0.6em 1em;
  border-radius: 6px;
}

.goods__desc {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  bottom: 2em;
  left: 0;
  right: 0;

  h4 {
    align-self: center;
    max-width: 10em;
    margin-bottom: 1em;
    font-weight: 400;
  }

  .price {
    font-size: 1.3333em;
  }
}

.span__add__cart {
  position: absolute;
  bottom: 75px;
  right: 54px;
  background-color: #c7cdda;
  padding: 0.66em;
  border-radius: 6px;
  color: #646f86;
  display: none;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #c7cdda;
    top: 37px;
    right: 10px;
  }
}

.goods__cart {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 2em;
  right: 3.26em;
  background-color: $colorDarkBlue;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
  transition: 0.2s linear;

  &::after {
    content: '+';
    font-size: 20px;
    text-align: center;
    color: $colorWhite;
  }

  &:hover {
    background-color: $colorBlue;

    ~ .span__add__cart {
      display: block;
    }
  }
}

.goods__second__cart {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 0;
}

.goods__purchase {
  position: absolute;
  bottom: 35px;
  right: 60px;
}

// Calendar

.calendar {
  padding-left: 2.66em;
  margin-top: 13.66em;
}

.calendar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__text {
  width: 50%;
  padding-left: 4em;

  p {
    max-width: 41.33em;
    color: #6e7179;
    line-height: 2.13em;
    font-size: 1.13em;
  }

  h2 {
    margin-bottom: 0.7em;
    font-size: 3.8em;
  }

  .main__link__wrapper {
    text-align: left;
  }
}

.calendar__image {
  overflow: hidden;

  img {
    max-width: 1264px;
    object-fit: cover;
    transform: translateX(3.33em);
  }
}

// News

.news {
  padding: $paddingFour;
  margin-top: 14em;

  .main__link__wrapper {
    text-align: left;
  }
}

.news__inner__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.33em;

  .news__inner__title {
    font-size: 10vw;
    color: rgba(42, 51, 71, 0.15);
    font-weight: 500;
    line-height: 1em;
  }
}

.news__items {
  display: flex;
  width: 100%;

  &:nth-child(odd) {
    justify-content: flex-end;
  }
}

.news__item {
  display: flex;
  margin-left: 4em;

  flex-direction: column;
  max-width: 66.66em;

  article {
    display: flex;
  }

  a {
    display: block;
    width: fit-content;
  }
}

.news__date {
  color: rgba(42, 51, 71, 0.5);

  time {
    margin-right: 2em;
    padding-top: 1em;
  }
}

.news__item__left {
  h3 {
    margin-top: 1em;
    font-size: 2em;
    font-weight: 300;
  }

  p {
    max-width: 38em;
    margin: 2em 0;
    font-size: 1.13em;
    line-height: 2.13em;
  }
}
.news__item__right {
  max-width: 20em;
  max-height: 13.33em;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(-30px);
  }
}

// Contact

.contact {
  padding: $paddingFour;
}

.contact__inner {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  grid-gap: 0.33em;
}

.contact__item {
  background: url(../img/giftBg.webp), rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4em 3em;
  color: $colorDarkBlue;
  height: 22em;

  span,
  .phone {
    font-size: 2.4em;
    color: $colorDarkBlue;
  }
  .span {
    margin-top: 2rem;
  }

  .main__link__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .main__link {
    span {
      font-size: 1.33em;
    }
  }

  .contact__show {
    font-size: 1.09em;
  }

  .btn__blue {
    max-width: 7em;
  }
}

.contact__address {
  margin-bottom: 1em;
}

.contact__address,
.contact__email {
  a {
    font-size: 1.33em;
    color: $colorDarkBlue;
  }

  span {
    font-size: 0.93em;
    color: #6e7179;
  }
}

// Footer

.footer {
  margin-top: 3.33em;
}

.footer__top {
  background-color: $colorDarkBlue;
  color: $colorWhite;
}

.footer__menu {
  padding: 2.4em 2.4em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    font-size: 1.2em;

    li {
      list-style-type: none;

      + li {
        margin-left: 3em;
      }
    }
  }
}

.footer__link {
  a {
    color: $colorWhite;
    transition: 0.2s linear;

    &:hover {
      border-bottom: 1px solid $colorWhite;
    }
  }
}

.footer__bottom {
  background-color: #151920;
  color: $colorWhite;
  padding: 2.4em 2.4em;

  span,
  a {
    font-size: 0.93em;
    color: #4b4f55;
  }

  .footer__menu__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

    .footer__menu__grid {
      &:last-child {
        text-align: right;
      }

      &:nth-child(2) {
        text-align: center;
      }
    }

    a {
      &:hover {
        border-bottom: 1px solid #4b4f55;
      }
    }
  }
}

// Mobile-Menu

.mobile__header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.8em;

  a {
    height: 1em;
    width: 1em;
  }

  .mobile__logo {
    width: auto;
    height: auto;
  }

  .mobile__header__right {
    position: relative;
    display: block;
    img {
      height: 1em;
      width: 1em;
    }
  }
}

.mobile__header__menuSearh {
  display: flex;
  align-items: center;

  input {
    width: 100%;
  }
}

.mobile__header__burger {
  img {
    width: 1.5em;
    height: 1.5em;
  }
}

.mobile__header__bottom {
  position: absolute;
  right: 0;
  top: 5.5em;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2em 0 2em 2em;
  padding: 1em;
  z-index: 1;

  .menu__link {
    margin: 0;
    list-style-type: none;
    margin-top: 0.5em;
  }

  a {
    color: $colorDarkBlue;

    &:hover {
      border-bottom: 1px solid #000;
    }
  }
}
